# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# dotenv environment variables file
.env.local
.env.*

# Yarn Integrity file
.yarn-integrity

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

logs/