<%- include('./include/header')%>
  <title>
    <%= title%>
  </title>
  </head>

  <body>
    <div class="titleBar">
      <label style="font-size: larger;">
        <%= title%>
      </label>
    </div>

    <div class="formbox">
      <div class="form-group">
        <label id="pinLabel">测试</label>
      </div>
      <div class="form-group">
        <label id="ckLabel">测试</label>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', viewDidLoad)
      function viewDidLoad() {
        // 获取 localStorage 中的 ck
        // data: "pt_key=xxx;pt_pin=xxx;"
        const ck = localStorage.getItem("ck");
        const ckExpired = localStorage.getItem("ckExpired");
        console.log('localStorage.ck = ', ck)

        if (!ck || !ckExpired || ckExpired < Date.now()) {
          // 没有数据或者过期
          window.location.href = "/home";
          return
        }

        const ckData = formatCKData(ck);
        updateViewLabelData(ckData);

        
      }

      function updateViewLabelData(params) {
        const { pt_key, pt_pin, maskCK } = params

        const pinLabel = document.getElementById('pinLabel')
        pinLabel.textContent = `京东账号: ${pt_pin}`;
        const ckLabel = document.getElementById('ckLabel')
        ckLabel.textContent = `京东CK: ${maskCK}`;
      }

      function formatCKData(ck = '') {
        function maskString(str) {
          if (str.length <= 20) {
            return str;
          }

          let start = str.slice(0, 10);
          let end = str.slice(-10);
          return start + '***' + end;
        }

        //取出 pt_key 和 pt_pin
        const temp = ck.split(';');
        const pt_key = temp[0].split('=')[1];
        const pt_pin = temp[1].split('=')[1];
        const maskCK = `pt_key=${maskString(pt_key)};pt_pin=${pt_pin};`;

        return {
          pt_key,
          pt_pin,
          maskCK
        }
      }
    </script>
  </body>